<h2>Add a new video</h2>

<div>
    Url
    <input type="text" data-ng-model="video.url" />
</div>

<div>
    Description
    <input type="text" data-ng-model="video.description" />
</div>

<input type="button" value="Save" data-ng-click="saveVideo()" />