<h2>List of courses</h2>

<a data-ng-href="#/courses/new">Add a new course</a>

<ul data-ng-repeat="course in courses">
    <li>
        <a data-ng-href="#/courses/{{course.id}}">{{course.name}}</a>
        <br />
        <button type="button" data-ng-click="editCourse(course)">Edit</button>
        <button type="button" data-ng-click="deleteCourse(course)">Delete</button>
        <p>{{course.description}}</p>
    </li>
</ul>
